body {
    font-family: sans-serif;
    background-color: fffff;
    color: #333333;
    width: 600xp;
    margin: 0 auto;
}

h1 {
    text-align: center;
    front-size: 36px;
}

h2 {
    frint-size: 24px;
}

ul {
    list-style-type: square;
}

p {
    line-height: 1.5;
}
